//Colors Cuidamed
$white: #ffffff;
$red: #ff0101;
$main: #2c2e81;
$text-secondary: #817f7f;
$secondary: #00a199;
$mouse-up: #1b1d50;

///
$font-grey: #777;
$font-dark: #000;
$color-dark-light: rgba(129, 127, 127, 0.5);

$background-grey-light: #f4f4f4;

//Social Colors
$youtube: #c4302b;
$twitter: #00acee;
$instagram: #c13584;
$facebook: #3b5998;
$linkedin: #0e86a8;
