@import "../../sass/index.scss";

.basic-layout {
  > .ui.grid {
    margin: 0 !important;
    min-height: 100vh;

    > .column {
      padding: 0px;

      &:first-of-type {
        background-color: $main;
      }

      &:last-of-type {
        > h1 {
          justify-content: center;
        }
      }
    }
  }
}
