

.slider {
    height: 100vh;

    .title {
        position: absolute;
        top: 1em;
    }

    .swiper-container {
        margin-left: 1em;
        margin-right: 1em;

        // .swiper-slide-active {
        //     display: flex;
        //     // justify-content: space-between;
        //     align-items: center;
        // }

        .container {
            height: inherit;

        }
        
        .slider-two {
            height: inherit;
        }

        .grid {
            height: inherit;
            // text-align: center;

            // h2 {
            //     position: abolute;
            //     margin-top: -200px;
            // }

            .hidden {
                opacity: 0;
            }
            input[type=radio]:checked + label {
                svg path {
                        fill: $color-acua;
                        stroke: $white;   
                    
                    }
                    svg g g rect{
                    fill: $color-acua;
                    stroke: $white; 
                    }
                }
        
            .column {
                div {
                    text-align: center;
                }
        
                .input-custom {
                    margin: 0 auto;
                }
            }
            svg {
                width: 20em;
                text-align: center;
            }

            span {
                display: block;
                font-size: 1.5em;
                margin-top: 1.5em;
            }
        }

    }
    
        
    
}