

.slider {
    height: 100vh;
    // background-color: red;

    // .title {
    //     position: absolute;
    //     top: 20px;
    // }

    .swiper-container {
        // height: inherit;
        margin-left: 1em;
        margin-right: 1em;
        // background-color: red;

        .grid {
            // height: inherit;
            // text-align: center;

            .hidden {
                opacity: 0;
            }
            input[type=radio]:checked + label {
                svg path {
                        fill: $color-acua;
                        stroke: $white;   
                    
                    }
                    svg g g rect{
                    fill: $color-acua;
                    stroke: $white; 
                    }
                }
        
            .column {
                div {
                    text-align: center;
                }
        
                .input-custom {
                    margin: 0 auto;
                }
            }
            svg {
                width: 20em;
                text-align: center;
            }
        }

    }
    
        
    
}