.input-container {
  width: 100%;
  position: relative;

  & > input {
    height: 3.1em;
    outline: none;
    border: 1px solid #707070 ;
  }

  & > .custom-select {
    width: 100%;
    font-size: 1.5em;
    height: 3.1em;
    border-radius: 1.5em !important;
    border: 1px solid #707070 !important;
    text-align: center;
    padding-top:1.2em;
  }

  & > input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  /* for mozilla */
  & > input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
  }

  & > input::placeholder,
  & > input::-webkit-input-placeholder {
    color: $text-secondary;
  }
  & > input + label,
  & > .custom-select + label {
    font-size: 16px;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 10px;
    width: 100%;
    left: 10px;
    color: transparent;
  }
  & > label::before {
    content: attr(placeholder);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
    left: 15px;;
    color: $color-dark-light;
    font-size: 30px;
    background-color: white;
  }

  & > input:not(:placeholder-shown) + label::before {
    top: -30px;
    opacity: 1;
  }

  

  &.newDesign {
    & > label::before {
      font-size: 20px;
      color: white;
      background-color: transparent;
    }

    & > input:not(:placeholder-shown) + label::before{
      top: -20px;
      background-color: white;
      color: $text-secondary;
    }

    & >input[type="number"]:not(:placeholder-shown) {
      padding-left: 0;
      text-align: center;
    }

    & >input:not(:placeholder-shown) {
      padding-left: 25px;
      text-align: left;
    }
   
  }
}
