.date-input {

  width: 100%;
  position: relative;

  >.DayPickerInput {
    >input {
      font-size: 1.6em;
      height: 2.4em;
      border-radius: 1.5em !important; 
      border-color: $color-dark-light; 
    }
  }
}
