@import "../../sass/index.scss";

.login {
    background-color: $main;
    
    > .header {
        height: 10%;
        margin: 0 auto;
        text-align: center;
        background-color: #ffffff;

        .register {

            > p {
                a {
                    margin-left: 0.5em;
                }
            }
        }
        .logo {
            width: 50% !important;
        }
    }
    
    > .container {
        padding-bottom: 0.5em;

        .label {
            display: block;
            background-color: transparent;
            margin-top: 10%;
            font-size: 3em;
            font-weight: normal;
            color: #ffffff;
            text-align: center;
            padding: 0;
        }

        .focus.input {
            margin-top: 5em;
        }


        .input {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 2em;

            > input {
                width: 13.5em;
                // height: 74px;
                border-radius: 2em;
                font-size: 30px;
                text-align: center;

            }

        }

        .button {
            display: block;
            background-color: #ffffff;
            margin: 0 auto;
            padding: 0;
            width: 13.5em;
            height: 3em;
            border-radius: 2em;
            color: $secondary;
            border: 2px solid $secondary;
            font-size: 2em;
            font-weight: 400;

            &:hover {
                background-color: $secondary;
                color: #ffffff;
                border: 2px solid #ffffff;
            }
        }

        .emergency {
            margin-bottom: 2em;
            color: #ffffff;
            background-color: $red;
            border: 2px solid $red;

            &:hover {
                background-color: $red;
                color:  #ffffff;
                border: 2px solid #ffffff;
            }
        }
    }

}
